.place {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-dark--2);
  border: 1px solid var(--color-dark--0);
  /* border: 2px solid var(--color-brand--1); */
  border-left: 4px solid var(--color-brand--3);
  cursor: pointer;
}

.place a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.place .placeName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.placeName span:last-of-type {
  font-size: 1.4rem;
  color: var(--color-light--2);
}

.place .date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.date span:first-of-type {
  font-size: 1.4rem;
  color: var(--color-light--4);
}

.date button:last-of-type {
  font-size: 1.2rem;
  color: var(--color-brand--3);
  background-color: var(--color-dark--1);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  transition: all ease 0.5s;
}

.date button:last-of-type:hover {
  color: var(--color-brand--5);
}

/* Tooltip */
.placeToolTip:global(.tippy-box) {
  font-size: 1.4rem;
  padding: 0.6rem 1.5rem;
  background-color: var(--color-dark--0);
  color: var(--color-brand--3);
  font-weight: 300;
  border-radius: 6px;
}

/* Tooltip arrow */
.placeToolTip :global(.tippy-arrow) {
  color: var(--color-dark--0);
}

/* ACTIVE PLACE */
.active {
  border: 2px solid var(--color-brand--3);
  border-left: 4px solid var(--color-brand--3);
}
